@page
@model PlayModel
@namespace Lab_1_Number_Guess.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{ 
    var Message = Html.Raw(Model.Message);
}
<h2>Can You Guess The Number?</h2>
<br />@Message
<br />
<form method="post"><input type="text" name="guess" /><input type="hidden" name="answer" value="@Model.Answer" /><input type="submit" value="Check Answer" /></form>
<br />@Model.Answer
