@page

<h1>Razor pages tutorial</h1>
<ol>
    <li><a href="AtChar">You add code to a page using the &#64; character.</a></li>
    <li><a href="CodeBlocks">You enclose code blocks in braces.</a></li>
    <li><a href="InsideBlock">Inside a block, you end each code statement with a semicolon</a></li>
    <li><a href="Variables">You use variables to store values</a></li>
    <li><a href="Add">Addition</a></li>
</ol>