@page
@model CRM.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
    Model.CustomerTypes = new[] { new SelectListItem { Value="Customer", Text="New Customer" },
        new SelectListItem { Value="Lead", Text="New Lead"} };
}

<h2>Edit</h2>

<h4>Edit @Model.Customer.CustomerType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Customer.ID" />
            <div class="form-group">
                <label asp-for="Customer.FirstName" class="control-label"></label>
                <input asp-for="Customer.FirstName" class="form-control" />
                <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.LastName" class="control-label"></label>
                <input asp-for="Customer.LastName" class="form-control" />
                <span asp-validation-for="Customer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.PhoneNumber" class="control-label"></label>
                <input asp-for="Customer.PhoneNumber" class="form-control" />
                <span asp-validation-for="Customer.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustomerType" class="control-label"></label><br />

                @Html.DropDownListFor(
    x => x.Customer.CustomerType,
    Model.CustomerTypes,
    "Select Customer Type"
)
                @Html.ValidationMessageFor(x => x.Customer.CustomerType)
            </div>
            <div class="form-group">
                <label asp-for="Customer.CompanyName" class="control-label"></label>
                <input asp-for="Customer.CompanyName" class="form-control" />
                <span asp-validation-for="Customer.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Position" class="control-label"></label>
                <input asp-for="Customer.Position" class="form-control" />
                <span asp-validation-for="Customer.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.StreetAddress" class="control-label"></label>
                <input asp-for="Customer.StreetAddress" class="form-control" />
                <span asp-validation-for="Customer.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.City" class="control-label"></label>
                <input asp-for="Customer.City" class="form-control" />
                <span asp-validation-for="Customer.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.State" class="control-label"></label>
                <input asp-for="Customer.State" class="form-control" />
                <span asp-validation-for="Customer.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.ZipCode" class="control-label"></label>
                <input asp-for="Customer.ZipCode" class="form-control" />
                <span asp-validation-for="Customer.ZipCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
