@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@Model.Result
<p />
<form method="post">
                
                <input asp-for="Input" /><br />
                <button type="submit" asp-page-handler="intSub">Convert to Roman</button><br />
                <button type="submit" asp-page-handler="romSub">Convert to Integer</button>
</form>