@page

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About the Author</title>
</head>

<body>
    <h1>About the author</h1>
    <br />
    <h2>Andrew Rogers. Programming Major and Web Developer for MTRSuperstore.com</h2>


</body>
</html>