@page
@namespace Instructions.Pages
@model calculatorModel
@using Instructions
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Calculator</title>
</head>
<body>
 

    <p>Enter your date of birth to calculate your age.</p>
    <br />
    <form action="" method="post">
        <p>
            <label for="text1">Please enter the month of the year that you were born (numerically)</label>
            <input type="text" name="text2" />
        </p>
        <p>
            <label for="text1">Please enter the day of the month that you were born</label>
            <input type="text" name="text3" />
        </p>
        <p>
            <label for="text1">Please enter the year you were born</label>
            <input type="text" name="text1" />
        </p>


        <p><input type="submit" value="Calculate" /></p>
    </form>

    <p>@Model.CalculateAge</p>

    <h3><a href="about">About the author</a></h3>

</body>
</html>
