@page

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Instructions</title>
</head>

<body>
    <h1>Instructions</h1>
    <br />
    <h2>Hit "Continue", then enter your date of birth to calculate your age</h2>
    <br />
    <h2><a href="calculator">Continue</a></h2>


</body>
</html>