@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    if ()


}

<h2>Guess the Number!</h2>
<br />&nbsp;<br />
<asp:label runat="server" id="GuessLabel" text="Let's see if you can guess the number!" /><br />
Enter your guess below:
<form runat="server" action="~/Index.cshtml">
    <asp:textbox runat="server" id="guess" />
    <input type="submit" />

</form>