@page
@model BookCatalog.Pages.Books.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.DatePublished" class="control-label"></label>
                <input asp-for="Book.DatePublished" class="form-control" />
                <span asp-validation-for="Book.DatePublished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Author" class="control-label"></label>
                <input asp-for="Book.Author" class="form-control" />
                <span asp-validation-for="Book.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Rating" class="control-label"></label>
                <input asp-for="Book.Rating" class="form-control" />
                <span asp-validation-for="Book.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Rater" class="control-label"></label>
                <input asp-for="Book.Rater" class="form-control" value="@Model.GetName()" />
                <span asp-validation-for="Book.Rater" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
