@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
&nbsp;
<p />
&nbsp;<a href="/Books">
Click Here to View The Book List.</a>
<p />
When you Create a Book, your rating name will be saved so you will not need to enter it again however you will be able to edit it when creating another book item.
