@page
    @model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
<center><h1>Welcome!</h1>
<h2>Can You Guess the Number?</h2></center>

On the next page, enter your number into the box and click the button.<br />
We'll tell if you your number is too high, too low, or if you got it right!<br />
<strong><font sie="+1"><a href="Play">Click Here To Begin!</a></font></strong>
<br /><a href="About">About the Author</a>
