@page
    @model PlayModel
@{ 
    var Message = Html.Raw(Model.Message);
    Layout = "_Layout";
    ViewData["Title"] = "Play";
}
<h2>Can You Guess The Number?</h2>
<br />@Message
<br />
<form method="post"><input type="text" name="guess" /><input type="submit" value="Check Answer" /></form>
<br />@Model.Answer